<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{User.add.title.main}"></h2>
		<form class="form-horizontal" method="post" action="/product/add">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{Product.add.title}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						placeholder="My product" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description" th:text="#{Product.add.description}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="description"
						placeholder="Description" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="price" th:text="#{Product.add.price}"></label>
				<div class="col-sm-10">
					<input type="number" step="0.01" min="0.01". class="form-control" name="price"
						placeholder="20.0" required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{Product.add.send}"></button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
