<!DOCTYPE html>
<html lang="en">
<head>
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{Products.list.title}"></h2>
		<form class="navbar-form" action="/product/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Search by the title of the product">
			</div>
			<button type="submit" class="btn btn-default"
				th:text="#{Products.list.search}"></button>
		</form>
		<p th:text="#{Products.list.paragraph}"></p>
		<button type="button" id="updateButton" class="btn btn-default">Update</button>
		<script th:inline="javascript">
 			/*<![CDATA[*/
	 			$( "#updateButton" ).click(function() {
 					var numberPage = [[${param.page}]];
 					var urlUpdate = '/product/list/update';
 					if (numberPage != null ){
 						urlUpdate += "?page="+numberPage[0];
 					}
 					$("#tableProducts").load(urlUpdate);
 				});
 				/*]]>*/
 		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableProducts"
				id="tableProducts">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{Products.list.titl}"></th>
						<th class="col-md-1" th:text="#{Products.list.description}"></th>
						<th class="col-md-1" th:text="#{Products.list.price}"></th>
						<th class="col-md-1" th:text="#{Products.list.date}"></th>
						<th class="col-md-1" th:text="#{Products.list.user}"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr id="product" th:each="product : ${productList}">
						<td th:text="${product.title}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.date}"></td>
						<td th:text="${product.owner.email}"></td>
						<td><span th:if="${!product.sold}"> <a
								th:href="${'/product/buy/' + product.id}">Buy</span> <span
							th:unless="${!product.sold}">Sold</span></td>

					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
