<!DOCTYPE html>
<html lang="en">
<head>
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{Products.offer.title}"></h2>
		<form class="navbar-form" action="/product/purchase">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Search by the title of the product">
			</div>
			<button type="submit" class="btn btn-default"
				th:text="#{Products.offer.search}"></button>
		</form>
		<p th:text="#{Products.offer.history}"></p>
		<button type="button" id="updateButton" class="btn btn-default"
			th:text="#{Products.offer.update}"></button>
		<script th:inline="javascript">
 			/*<![CDATA[*/
	 			$( "#updateButton" ).click(function() {
 					var numberPage = [[${param.page}]];
 					var urlUpdate = '/product/offer/update';
 					if (numberPage != null ){
 						urlUpdate += "?page="+numberPage[0];
 					}
 					$("#tableOffer").load(urlUpdate);
 				});
 				/*]]>*/
 		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffer"
				id="tableOffer">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{Products.offer.titl}"></th>
						<th class="col-md-1" th:text="#{Products.offer.description}"></th>
						<th class="col-md-1" th:text="#{Products.offer.price}"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td th:text="${product.title}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.price}"></td>
						<td><a th:href="${'/product/remove/' + product.id}" th:text="#{Products.offer.remove}"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
