<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{Home.welcome}"></h3>
		<label for="user" th:text="#{Home.user}"></label>
		<p th:text="${user.name}"></p>
		<label for="user" th:text="#{Home.email}"></label>
		<p th:text="${user.email}"></p>
		<label for="user" th:text="#{Home.balance}"></label>
		<p th:text="${user.balance}"></p>
		<button type="button" class="btn btn-default"
			th:text="#{Home.products}" href="/product/list"></button>


	</div>
	<footer th:replace="fragments/footer" />

</body>
</html>